<div> Welcome <%= current_member.email %></div>
	<%= button_to "sign out" , destroy_member_session_path, method: :delete %>
	<h1><%= link_to('Back',"/tasks") %></h1>
	<%= form_with model: task  do |form|%>
				
		<%= form.label :title %> 
		<%= form.text_field :title %><br>
		<% task.errors.full_messages_for(:title).each do |message|%>
		  <div><%= message %></div>
		<%end%>		

		<%= form.label :description %>
		<%= form.text_field :description %><br><br>
		<% task.errors.full_messages_for(:description).each do |message|%>
		  <div><%= message %></div>
		<%end%>		
							
		<%= form.label :image %>
		<%= form.file_field :image %><br><br>
		<% task.errors.full_messages_for(:image).each do |message|%>
		  <div><%= message %></div>
		<%end%>		

		<%= form.label :Status %>
		<%unless  params[:action]=="new" %>
			<%= form.select :status,["In_completed","Completed"] %><br><br>
			<% task.errors.full_messages_for(:status).each do |message|%>
		  <div><%= message %></div>
		<%end%>
		<% end%>

		<%= form.label :name %><br>
		<%= form.collection_select(:category_id, Category.all, :id, :name) %>
        
         <%= form.submit %><br><br>																
	<% end%>
               