<% if user_signed_in? %>
	<div> Welcome <%= current_user.email %></div>
	<%= button_to "sign out" , destroy_user_session_path, method: :delete %>
	<h1><%= link_to('Back',"/tasks") %></h1>
	<%= form_with model: @task  do |form|%>
				
		<%= form.label :Title %> 
		<%= form.text_field :title %><br><br> 
											
		<%= form.label :description %>
		<%= form.text_field :description %><br><br>
							
		<%= form.label :image %>
		<%= form.file_field :image %><br><br>

		<%= form.label :Status %>
		<%unless  params[:action]=="new" %>
			<%= form.select :status,["In_completed","Completed"] %><br><br>
		<% end%>  

		<%= form.label :Category_Name %><br>
		<%= form.collection_select(:category_id, Category.all, :id, :category_name) %>
        
    
		<% if params[:action]=="new" %>
         <%= form.submit "Create" %><br><br>
		<% else%>   
         <%= form.submit "Update" %><br><br>
		<%end%>																		
	<% end%>
<%else%>
  <%= button_to "sign in",new_user_session_path %> 
<% end %>
               