<% if current_user %>
  <div> Welcome <%=current_user.email %></div>
  <%= button_to "sign out" , destroy_user_session_path, method: :delete %>  
  <%elsif%>
  <div> Welcome <%=current_member.email %></div>
  <%= button_to "sign out" , destroy_member_session_path, method: :delete %> 
    
  <%end%>
  <div style="text-align:center;">
  <% if current_member%>
  <h1><%= link_to "create user" , new_user_path%></h1>
  <% end%>
  <% if can? :manage, Task %>
  <h1><%= link_to "NEW", new_task_path %></h1>
  <%end%>
  <%= image_tag "t1.jpeg", size: "100*2" %>
  <table border = '1',align ='center'>
   <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <% if can? :delete, Task %>
      <th>Delete</th>
      <th>show</th>
      <% end %>
      <th>status</th>
      <% if current_member%>
       <th>Assign task to user</th>
      <%end%>
      <% if current_user %>
       <th>action</th>
      <%end%>
   </tr>        
   <% @tasks.each do |x| %>
      <tr> 
       <td><%=image_tag x.image, size:"200"%></td>
       <td><%= x.title %></td>
       <td><%= x.description %></td>
       <td><%= x.category.name %></td>
       <% if can? :delete, Task %>
        <td><%= link_to("Destroy",task_path(x),
        data: {turbo_method: :delete,turbo_confirm: "Are you sure?" }) %></td>
        <td><%= x.approve? ? "" : link_to("Show", x) %></td>
       <% end %>
       <td><%= x.approve? ? "Approve" : x.status%></td>
       <% if current_user %>
       <td><%= button_to "Complete", task_path(x), method: :put, params: {task:{status: "Complete"}}%></td>
       <%end%>
       <% if current_member%>
       <td><%= x.assigned_task%></td>
       <%end%>
      </tr> 
   <%end%>