<% if user_signed_in? %>
      <%#= javascript_include_tag "man.js" %>

      <div> Welcome <% current_user.email %></div>
      <%= button_to "sign out" , destroy_user_session_path, method: :delete %>
      <h1><% link_to "NEW",new_task_path %></h1>
      <h2><% link_to("ALL","/task/all") %></h2>
      <%= form_with url: task_show_path, model: @task do |form| %>
        <table border = '1',align ='center'>
            <% Task::CATEGORY.each do|key| %>

             <th>
                   <%= form.check_box :categoey,{multiple: true} , key %>
                   <%= form.label key %>
             </th>  
           <% end %>    
           <th>
               <%= form.submit "DONE" %>
           </th>
        </table>
      <% end %>
<%else%>
      <%= button_to "sign in",new_user_session_path %> 
      <%= image_tag "login.jpg", size: "80*1" %>

<% end %>
