<% if user_signed_in? %>
      <%#= javascript_include_tag "man.js" %>

        <div> Welcome <%=current_user.email %></div>
        <%= button_to "sign out" , destroy_user_session_path, method: :delete %>
   <div style="text-align:center;">
           <h1><%= link_to "NEW",new_task_path %></h1>
           <h2><%= link_to("All","/tasks/all") %></h2>
        <%= form_with url: '/tasks/show', method: :get, model: @task do |form| %>
                 <table>
                  

                   <tr>
                          <%= form.collection_check_boxes :category_id, Category.order(:category_name), :id, :category_name %> 
                   </tr>
                   <tr>  
                         <th>
                               <center> <%= form.submit "Done" %>
                         </th>
                   </tr> 
                </table>
              
       <%  end %>
            <%= image_tag "t1.jpeg", size: "100*2" %>
     </div>    
<% else %>
      
            <%= button_to "sign in",new_user_session_path %> 
            <%= image_tag "login.jpg", size: "80*1" %>
<% end %>
 