<% if user_signed_in? %>
      
  <div> Welcome <%=current_user.email %></div>
  <%= button_to "sign out" , destroy_user_session_path, method: :delete %>  
  <div style="text-align:center;">
  <% if can? :delete, Task %>
   <h1><%= link_to "NEW",new_task_path %></h1>
  <%end%> 
  <%= image_tag "t1.jpeg", size: "100*2" %>
  <table border = '1',align ='center'>   
   <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <% if can? :delete, Task %>
      <th>Delete</th>
      <th>show</th>
      <% end %>
      <th>status</th>
      <% unless current_user.admin?%>
      <th>Action</th>
      <%end%>
   </tr>          
   <% @tasks.each do |x| %>
      <tr> 
       <td><%=image_tag x.image, size:"200"%></td>
       <td><%= x.title %></td>
       <td><%= x.description %></td>
       <td><%= x.category.name %></td>
       <% if can? :delete, Task %>
        <td><%= link_to("Destroy",task_path(x),
        data: {turbo_method: :delete,turbo_confirm: "Are you sure?" }) %></td>
        <td><%= x.approve? ? "" : link_to("Show", x) %></td>
       <% end %>
       <td><%= x.approve? ? "Approve" : x.status%></td>
       <% unless current_user.admin?%>
       <td><%= x.status == "Complete" ?  "" : button_to("Complete", x, method: :put , params: {task:{status: "Complete"}}) %></td>
       <%end%>
   <%end%>
<%else%>
 <%= image_tag "login.jpg", size: "80*1" %>
<% end %>